<h1>Our Blog</h1>
	
	<h3> <%= link_to "Add a New Post", new_post_path, class: "hoverh3" %> </h3>
	<hr/>
		<%= form_tag posts_path, :method => 'get' do %>
		<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search for title" %>
		</p>
		<% end %>
	<hr/>
<% @posts.each do |post| %>
	
	<h2 > <%= link_to post.title, post, class: "hoverh2" %> </h2>
	
	<p> 
		<%= link_to "Edit", edit_post_path(post) %> |
		<%= link_to image_tag("x.png", size: "12x13"), post, :data => {:confirm => "Are you sure?"}, :method => :delete %> 

	</p> 
	<hr/>
<% end %>

